.single-item-container {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.single-item-container img {
    width: 100%;
    margin-bottom: 32px;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
  
}

.sigle-item-title {
    font-size: 20px;
    margin: 32px 0;
    text-align: center;
}