.home-container {
}

.form-container {
    width: 50%;
    background-color: #ffffff;
    padding: 32px;
    border-radius: 15px;
    text-align: center;
}

.app-name {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
}

.page-title {
    font-size: 16px;
    margin: 32px 0;
    text-align: center;
}

.form-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.color_itens{
    color: #408B6D;
}

.link-container button{
    background-color: #429272;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 50%;
}

.link-container button:hover{
    background-color: white;
    border: solid #429272;
    width: 50%;
}

.link-container a:hover{
    color: #429272;
    font-weight: 700;
}

.link-container a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}