.home-container {
}

.form-container {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 32px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.form-container h1{
    text-align: center;
}

.app-name {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
}

.page-title {
    font-size: 16px;
    margin: 32px 0;
    text-align: center;
}

.color_itens{
    background-color: #408B6D;
}

.container-h1{
    text-align: center;
    font-size: 30px;
    margin: 32px 0;
    color: #429272;
}

.link-container{
    text-align: center;
}

.catalog-item-container {
    width: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.catalog-item-container img {
    height: 200px;
    width: 100%;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
    margin-bottom: 32px;
}

.catalog-item-container p {
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 8px;

}

.not-found-img {
    width: 100%;
    height: 100%;
}